@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 240 5.9% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 5.9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5.9% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 234 30% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 234 30% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 289 64% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 85%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 289 64% 40%;
    --chart-3: 231 40% 65%;
    --chart-4: 289 50% 55%;
    --chart-5: 231 30% 75%;
    --radius: 0.5rem;
    --sidebar-background: 231 30% 96%;
    --sidebar-foreground: 231 20% 25%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 40% 90%;
    --sidebar-accent-foreground: 231 48% 28%;
    --sidebar-border: 231 20% 85%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 231 15% 10%;
    --foreground: 0 0% 98%;
    --card: 231 15% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 231 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 15% 20%;
    --muted-foreground: 231 5% 63%;
    --accent: 289 64% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 15% 25%;
    --input: 231 15% 25%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 289 64% 50%;
    --chart-3: 231 40% 45%;
    --chart-4: 289 50% 35%;
    --chart-5: 231 30% 25%;
    --sidebar-background: 231 15% 14%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 15% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 15% 25%;
    --sidebar-ring: 231 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
